.about-page {
    .page-promo__title {
    }
    .page-promo__descr {
        margin: 0 auto;
        max-width: 770px;
        margin-bottom: 70px;
    }
    .about-page__buttons {
        display: flex;
        justify-content: center;
        gap: 20px;
        margin-bottom: 140px;
        .about-page__btn {
        }
    }
   
    .about-numbers {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }
    .about-numbers__item {
        border: 1.50px solid #000;
        border-radius: 8px;
        width: 100%;
        box-shadow: 6px 6px 0 0 #cd4631;
        background: #fff;
        padding: 59px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &-digit {
            font-weight: 700;
            font-size: 59px;
            line-height: 120%;
            letter-spacing: -0.02em;
            color: var(--red-color);
            margin-bottom: 20px;
            span {
                color: #000;
            }
        }
        &-descr {
            font-weight: 500;
            color: var(--gray-color);
        }
    }
    
}
