.app {
    background-color: var(--blue-color);
    padding: 140px 0;
    .app__title {
        max-width: 486px;
        margin-bottom: 28px;
        margin: 0 auto;
    }
    .app__subtitle {
        margin-bottom: 140px;
    }
    .app__button {
        margin-bottom: 24px;
    }
    .platforms {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &__text {
            font-weight: 500;
            color: var(--gray-color);
            margin-bottom: 10px;

        }
        &__items {
            display: flex;
            gap: 20px;
            .platforms__item {
                width: 24px;
                height: 24px;
            }
        }
    }
    
    
}
